@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #f8f8f8;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: centre;
    justify-content: center;
    row-gap: 1rem;
}

.top-text-box{
    width: fit-content;
    height: auto;
}

.top-text-box p{
    font-size: 1,2rem;
    color: #23123d;
}

.create-button-box{
    width: 100%;
    height: auto;
}

.create-button-box button{
    background-color: #4c48f8;
    color: white;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.resources-section{
    background-color: #f8f8f8;
    width: 90%;
    height: auto;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;

}
.resource{
    background-color: white;
    width: 30%;
    height: auto;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

}
.website-name{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.website-name i {
    cursor: pointer;
    color: #8f8f95;
}
.website-name a{
    text-decoration: none;
    font-weight: 600;
}

.website-description{
    width: 100%;
    height: auto;
}
.website-description p{
    font-size: 0.8rem;
    color: #444445;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-overlay-visible {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.modal{
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.3rem;
    width: 30%;
}
.close-icon-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.close-icon-box i{
    cursor: pointer;
}
.modal-title-box{
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
}
.modal-title-box h3{
    font-size: 1rem;
    text-align: center;
}
.modal-form{
    width: 100%;
    height: auto;
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}
.labelinput{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: start;
    row-gap: 0.1rem;
}

label{
    font-size: 0.8rem;
    font-weight: 500;
}
input{
    width: 100%;
    height: auto;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid #e3e3e3;
    font-size: 12px;
}
textarea{
    width: 100%;
    height: 4rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid #e3e3e3;
    font-size: 12px;
}

.submit{
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    background-color: #4c48f8;
    color: white;
    cursor: pointer;
}
